<style>
	label{
		display:inline-block;
	}
	input{
		display:block;
	}
	#output{
		float:left;
	}
</style>


<div id="form">
	<h2>Enter your gains here.</h2>
	<form method="post">
	  <label>Name<input type="text" name="name" id="name"></label>
	  <label>Rep Count<input type="text" name="reps" id="reps"></label>
	  <label>Weight<input type="text" name="weight" id="weight"></label>
	  <label>Date<input type="text" name="date" id="date"></label>
	  <label>Unit<input type="text" name="unit" id="lbs"></label>
	  <label>Name<input id="addEx" type="submit" name="Add Item" value="Add Exercise">
	</form>
</div>
<br>
<!-- <p>{{results}}</p> -->
<div id="output">
	<h2>Your workout entries:</h2>
	<table>
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Reps</th>
	            <th>Weight</th>
	            <th>Date</th>
	            <th>Lbs/Kgs</th>
	        </tr>
	    </thead>
	    <tbody>
	        {{#each results}}
	        <tr>
	            <td>{{this.name}}</td>
	            <td>{{this.reps}}</td>
	            <td>{{this.weight}}</td>
	            <td>{{this.date}}</td>
	            <td>{{this.lbs}}</td>
	        </tr>
	        {{/each}}
	    </tbody>
	</table>
</div>
<script>
	function insert(){
        var req = new XMLHttpRequest();

        var name = document.getElementById("name").value;
        var reps = document.getElementById("reps").value;
        var weight = document.getElementById("weight").value;
        var date = document.getElementById("date").value;
        var lbs = document.getElementById("lbs").value;

        console.log("name: " + name + "reps: " + reps);

        req.open("GET", "http://52.88.140.54:3000/insert?name=" + name + "&reps=" + reps + "&weight=" + weight + "&date=" + date + "&lbs=" + lbs, true);
        req.setRequestHeader("Content-type", "application/json");
        req.addEventListener("load", function(){
                console.log("done: ", req.status);
                        });
        req.send(null);

	}

	document.getElementById("addEx").addEventListener("click", insert);
</script>